html {
    background-color: #f5f5f5;
    font: 14px Arial;
}

.msgBox {
    width: 600px;
    height: 140px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px 10px;
    box-shadow: 0 0 2px rgb(0 0 0 / 15%);
    border: 1px solid #ddd;
    border-radius: 4px;
}

.header1 {
    display: inline-block;
    margin: 0 auto 0;
}

.header1 p {
    margin: 0;
    color: #1b7fe6;
}

.header2 {
    display: block;
    float: right;
}
.header2 a {
    text-decoration: none;
    color: #EB7350;
    font: 13px Arial;
}

.msgInput {
    width: 585px;
    height: 68px;
    margin: 4px auto 0px;
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 15%);
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 15%) inset;
}

.msgInput textarea {
    width: 99%;
    height: 99%;
    border: none;
    overflow: hidden;
    resize: none;
}

.icon {
    display: inline-block;
    height: 23px;
    line-height: 23px;
    color: #333333;
    margin: 12px 18px 0 0;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 1.5em;
}

.face {
    background-image: url('images/表情.ico');
}

.image {
    background-image: url('images/图片.ico');
}

.video {
    background-image: url('images/视频.ico');
}

.topic {
    background-image: url('images/话题.ico');
}

.artical {
    background-image: url('images/头条文章.ico');
}

.releave-btn {
    width: 82px;
    height: 30px;
    background-color: rgb(255, 192, 159);
    border-color: rgb(255, 192, 159);
    float: right;
    margin: 10px 0 0 0;
    border-radius: 2px;
    cursor: default;
}

.kind .releave-btn a {
    display: block;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

.showBox {
	width: 600px;
	margin: 20px auto;
    background-color: white;
}
 
.showEvent {
	width: 578px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
 
.showName {
	width: 100%;
	text-align: left;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
 
.showMsg {
	width: 100%;
	color: #444;
	font-size: 14px;
	margin-top: 10px;
}
 
.showContent p {
	width: 100%;
	word-wrap: break-word;
}
 
.showTime {
	font-size: 12px;
	color: #808080;
	margin-top: 10px;
}
 
.showClose {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
	transition: .5s;
}
 
.showClose:hover {
	color: red;
}